main{
    width: 80%;
    margin: 0 auto;
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#formContainer{
    margin-top: 5em;
}

p{
    margin-top: 4em;
}

label, p, button, h3{
    font-family: 'Courier New', Courier, monospace;
}

button{

    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 2px;
    font-size: 16px;
    height: 30px;
    background-color: #f8f8f8;
    color: rgb(35, 35, 35);
    border: 1px solid #4e4e4e;
    padding: 0 20px;
    margin-left: 8em;
}

button:hover{
    background-color: #e2e2e2;
    border: 1px solid #4e4e4e;
}

input{
    margin-bottom: 1em;
}

p.greeting{
    font-size: 0.9rem;
}